{{ import_block }}

__all__ = ["Container"]


class Container(containers.DeclarativeContainer):
    wiring_config = containers.WiringConfiguration(packages=["{{ wiring_package }}"])
{% for block in provider_blocks %}

{{ block }}
{% endfor %}
