from enum import {{ base }}

__all__ = ["{{ class_name }}"]


class {{ class_name }}({{ base }}):
{% for m in members %}
    {{ m.name }} = "{{ m.value }}"
{% endfor %}
{% for method in methods %}

    {{ method.signature }}:
{% for line in method.contract %}
        {{ line }}
{% endfor %}
        raise NotImplementedError({{ method.todo_message }})
{% endfor %}
