{{ import_block }}

__all__ = ["{{ class_name }}"]


class {{ class_name }}:
{% for line in class_notes %}
    {{ line }}
{% endfor %}
    def __init__(self, {{ resource_param }}: {{ resource_type }}) -> None:
        self._{{ resource_attr }} = {{ resource_param }}
{% for method in methods %}

    {{ method.signature }}:
{% for line in method.contract %}
        {{ line }}
{% endfor %}
        raise NotImplementedError({{ method.todo_message }})
{% endfor %}
